{% extends "PDF/base.html.twig" %}

{% block title %}Wahlschein {{ registration.fullName }}{% endblock %}

{% block styles %}
    {% include "PDF/BallotPaper/_styles.css.twig" %}
{% endblock %}

{% block body %}

    <div class="page-third1">
        <p style="line-height: 1.0; font-weight: normal;">
            <span style="font-size: 13pt; color: #848484;">Urabstimmung 2021</span><br>
            <b style="font-size: 24pt;">WAHLSCHEIN</b><br>
            <i style="font-size: 13pt;">für {{ registration.fullName }}</i>
        </p>

        <div class="address-field">
            <div class="return-address-zone">
                Studierendenrat der FSU Jena · Carl-Zeiss-Straße 3 · 07743 Jena
            </div>
            <div class="comment-zone"></div>
            <div class="address-zone">
                {{ registration.address.formatMultiline(registration.fullName) | nl2br }}
            </div>
        </div>

        <div class="border" style="position: absolute; left: 130mm; top: 45mm; right: 10mm; line-height: 1.0; padding: 1mm 1mm; text-align: center; font-size: 11pt;">
            <p style="font-weight: bold; margin-top: 0;">Eine kurze Erklärung, wie man per Brief abstimmt, findet sich auf dem Stimmzettelumschlag.</p>
            <p style="margin-top: 0; margin-bottom: 0; font-size: 9pt;">Weitergehende Informationen haben wir online unter<br><b>www.urabstimmung.stura.uni-jena.de</b><br> gerne bereit gestellt.</p>
        </div>

        <div style="position: absolute; top: 90mm; left: 10mm; right: 10mm; text-align: center; font-weight: bold; font-size: 14pt;">
            <span>
            Untenstehende Erklärung muss unterschrieben mit zurückgesandt werden!
            </span>
        </div>
    </div>

    <div class="fold-mark"></div>

    <div class="page-third2">
        <div class="container">
            <div style="width: 150mm;">
                <b style="font-size: 18pt; ">ERKLÄRUNG</b><br>
                <i>Für die gültige Abstimmung ist es unerlässlich, das aktuelle Datum einzutragen und diese Erklärung eigenständig zu unterschreiben.</i>
            </div>

            <div style="position: absolute; margin-top: 6mm; left: 22mm; right: 20mm;">
                <p style="text-align: justify;">
                    Hiermit versichere ich, dass ich den Stimmzettel persönlich und geheim ausgefüllt habe und in den
                    Stimmzettelumschlag gelegt habe. Diesen habe ich dann eigenständig verschlossen.
                </p>
                <div class="signature-area" style="margin-top: 30mm;">
                    <span style="display: inline;">{{ registration.address.city }}, den </span>
                    <div style="border-top: solid 0.2mm black; margin-left: 80mm;">{{ registration.fullName }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="fold-mark2"></div>

    <div class="page-third3">
        <div style="position: absolute; top: 10mm; left: 10mm; right: 10mm; text-align: center; font-weight: bold; font-size: 14pt;">
            <p>
                Die Stimmabgabe per Brief ist bis zum 7. Mai 2021 möglich!
                </p>
        </div>

        <div style="padding-top: 0; position: absolute; left: 22mm; right: 15mm; top: 20mm; height: 50mm;">
            <p class="hint-text" style="text-align: left; font-size: 12pt;">
                <b>FÜR DIE URABSTIMMUNGSKOMMISSION</b><br>
                <i style="font-size: 10pt;">Dient zur Überprüfung der Echtheit dieses Wahlscheins</i>
            </p>
            <table class="border" style="width: 100%;">
                <tr>
                    <td style="width: 35mm;">
                        <img class="" src="{{ qrCode }}" style="height: 35mm; display: block;">
                    </td>
                    <td style="font-weight: bold;">
                        <table>
                            <tr>
                                <td><span class="hint-text">Name</span></td>
                                <td>{{ registration.fullName }}</td>
                            </tr>
                            <tr>
                                <td><span class="hint-text">Matrikel-Nr.</span></td>
                                <td>{{ registration.studentNumber }}</td>
                            </tr>
                            <tr>
                                <td><span class="hint-text">E-Mail</span></td>
                                <td>{{ registration.email }}</td>
                            </tr>
                            <tr>
                                <td><span class="hint-text" style="line-height: 0.9;">Prüfwörter</span></td>
                                <td>{{ registration.secret }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer class="footer-line">
        <span>Erzeugt am {{ 'now' | format_datetime }} ({{ registration.id }})</span>
    </footer>
{% endblock %}