{% extends "PDF/base.html.twig" %}

{% block title %}Wahlschein{% endblock %}

{% block styles %}
    {% include "PDF/BallotPaper/_styles.css.twig" %}
{% endblock %}

{% block body %}
    <div class="page-upper">
        <header class="header-line">
            <span><b style="font-size: 12pt;">Kurzanleitung</b> für die Abstimmung per Brief</span>
        </header>
        <div class="address-field">
            <div class="return-address-zone">
                Studierendenrat der FSU Jena · Carl-Zeiss-Straße 3 · 07743 Jena
            </div>
            <div class="comment-zone"></div>
            <div class="address-zone">
                {{ registration.address.formatMultiline(registration.fullName) | nl2br }}
            </div>
        </div>
        <div class="fold-mark"></div>
        <aside>
            <div class="counting-info">
                <span style="display: block; font-size: 16pt; font-weight: bold; margin-bottom: 5mm;">Ausführliche Anleitung:</span>
                <img class="rounded-border" src="{{ help_qrCode }}" style="height: 40mm; display: block; margin-left: 15mm;">
            </div>
        </aside>
        <main>
            <div class="content" style="font-size: 9pt; top: 70mm;">
                <ol>
                    <li>Prüfe ob du alle benötigten Unterlagen erhalten hast (Wahlschein, Stimmzettel, Stimmzettelumschlag, Rücksendeumschlag). Sollte etwas fehlen, kontaktiere urabstimmung@stura.uni-jena.de</li>
                    <li>Fülle den Stimmzettel aus (du musst den Stimmzettel unbeobachtet und persönlich ausfüllen). Legen den Stimmzettel anschließend in den unbeschrifteten Stimmzettelumschlag und klebe diesen zu.</li>
                    <li>Fülle das Datum beim untenstehenden Wahlschein aus, und unterschreibe die Versicherung, dass du den Stimmzettel persönlich und unbeobachtet ausgefüllt hast.
                        Schneide anschließend den Wahlschein an der der gestrichelten Linie ab, und lege ihn zusammen mit dem Stimmzettelumschlag in den Rückantwortumschlag. Klebe den Umschlag anschließend zu.</li>
                    <li>Wenn es dir möglich ist, werfe den Rückumschlag mit dem oben beschrieben Inhalt, in das Postfach des Studierendenrates in der Carl-Zeiss-Straße 3 (neben der Wache), ansonsten kannst du den Brief auch ohne Frankierung in einen Briefkasten der deutschen Post werfen.</li>
                </ol>
                <p style="font-size: 12pt; font-weight: bold; text-align: center;">Die Stimmabgabe per Brief ist bis zum 30. April möglich!</p>
            </div>
        </main>

    </div>
    <hr class="half-separator"></hr>
    <div class="page-lower">
        <header class="header-line">
            <span><b style="font-size: 12pt;">Wahlschein</b> für die Urabstimmung beschlossen vom Studierendenrat am 6. April 2021</span>
        </header>

        <div class="address-field">
            <div class="return-address-zone">
                {{ registration.address.formatSingleLine(registration.fullName, " · ") }}
            </div>
            <div class="comment-zone"></div>
            <div class="address-zone">
                Studierendenrat der FSU Jena<br>
                Urabstimmungskommission<br>
                Carl-Zeiss-Straße 3<br>
                07743 Jena<br>
            </div>
        </div>
        <div class="fold-mark"></div>

        <aside>
            <div class="counting-info">
                <div style="border: solid 0.3mm black; padding: 0 3mm; margin-bottom: 5mm; font-size: 11pt; font-weight: bold;">
                    {{ registration.fullName }} <br>
                    {{ registration.studentNumber }} <br>
                    {{ registration.email }} <br>
                    {{ registration.secret }} <br>
                </div>
                <img class="rounded-border" src="{{ qrCode }}" style="height: 35mm; display: block; margin-left: 22.5mm;">
            </div>
        </aside>

        <main>
            <div class="content">
                <p id="ballot-affirmation">
                    Hiermit versichere ich, dass ich den Stimmzettel persönlich und unbeobachtet ausgefüllt habe und in den Stimmbriefumschlag gelegt habe.
                </p>
                <div class="signature-area" style="margin-top: 25mm;">
                    <span style="display: inline;">{{ registration.address.city }}, den </span>
                    <div style="border-top: solid 0.2mm black; margin-left: 80mm;">{{ registration.fullName }}</div>
                </div>
            </div>
        </main>

        <footer class="footer-line">
            <span>Erzeugt am {{ 'now' | format_datetime }} ({{ registration.id }})</span>
        </footer>
    </div>
{% endblock %}