{% extends "base.html.twig" %}

{% block content %}
    {% if registration is null %}
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Wahlschein unbekannt</div>
            <div class="card-body">
                <h5 class="card-title">Dieser Wahlschein ist nicht im System verzeichnet.</h5>
                <p class="card-text">Dies könnte ein Hinweis auf einen gefäschten Wahlschein sein. Bitte wende dich zur Klärung an die Urabstimmungskommission.</p>
                <p class="card-text">Angefragte ID: {{ app.request.get('id') }}</p>
            </div>
        </div>
    {% elseif not registration.printed or registration.unwarranted %}
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Wahlschein wurde nie ausgegeben</div>
            <div class="card-body">
                <h5 class="card-title">Dieser Wahlschein wurde laut System nie ausgegeben.</h5>
                <p class="card-text">Dies könnte ein Hinweis auf einen gefäschten Wahlschein sein. Bitte wende dich zur Klärung an die Urabstimmungskommission.</p>
                <p class="card-text">Wahlschein ID: {{ registration.id.toRfc4122 }}</p>
            </div>
        </div>
    {% elseif registration.counted %}
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Wahlschein wurde bereits gezählt</div>
            <div class="card-body">
                <h5 class="card-title">Dieser Wahlschein wurde bereits einmal gezählt</h5>
                <p class="card-text">Dies könnte ein Hinweis auf einen gefäschten Wahlschein sein oder einen Fehler bei der Auszählung. Bitte wende dich zur Klärung an die Urabstimmungskommission.</p>
                <p class="card-text">Wahlschein ID: {{ registration.id.toRfc4122 }}</p>
            </div>
        </div>
    {% elseif registration.ballotPaperInvalid %}
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Wahlschein wurde als ungültig markiert</div>
            <div class="card-body">
                <h5 class="card-title">Dieser Wahlschein wurde bereits einmal kontrolliert und als ungültig markiert.</h5>
                <p class="card-text">Wenn dies ein Fehler ist, wende dich an die Urabstimmungskommission.</p>
                <p class="card-text">Wahlschein ID: {{ registration.id.toRfc4122 }}</p>
            </div>
        </div>
    {% elseif not registration.counted %}
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Wahlschein gültig</div>
            <div class="card-body">
                <h5 class="card-title">Dieser Wahlschein ist gültig</h5>
                <p class="card-text">Prüfe dass der Wahlschein unterschrieben ist, und die Kennwörter mit den untenstehnden übereinstimmen:</p>
                <h1 class="text-center">{{ registration.secret }}</h1>
                <p class="card-text">Wenn der Wahlschein gültig ist, klicke auf untenstehenden Button. Ansonsten wende dich zur Klärung an die Urabstimmungskommission.</p>
                {{ form_start(form) }}
                {{ form_row(form.submit) }}
                <p class="card-text">Wenn der Wahlschein ungültig ist, klicke auf den folgenden Button.</p>
                <div class="d-flex justify-content-center">
                        {{ form_widget(form.invalid) }}
                </div>
                {{ form_end(form) }}
                <p class="card-text">Wahlschein ID: {{ registration.id.toRfc4122 }}</p>
            </div>
        </div>
    {% else %}
        Dies sollte niemals zu sehen sein!
    {% endif %}
{% endblock %}